<h1>My Cars</h1>
<button class="btn btn-primary pull-right" ng-click="newCar()" ng-disabled="showCarForm||progressing"><span class="glyphicon glyphicon-plus"></span> New</button>
<p class="lead">This view allows you to manage your own cars which will then be advertised to the parson viewing your listing.</p>
<div class="slide-animation" ng-show="showCarForm">
  <div class="panel panel-default">
    <div class="panel-heading">New listing</div>
    <div class="panel-body">
      <form name="newCarForm" ng-submit="submitCar()" novalidate role="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="producer">Producer:</label>
              <input type="text" ng-model="car.producer" name="producer" class="form-control" required />
            </div>
          </div><!-- /.col-sm-6 -->
          <div class="col-sm-6">
            <div class="form-group">
              <label for="model">Model:</label>
              <input type="text" ng-model="car.model" name="model" class="form-control" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="color">Color:</label>
              <input type="text" ng-model="car.color" name="color" class="form-control" required />
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="form-group">
              <label for="consumption">Consumption:</label>
              <input type="text" ng-model="car.consumption" name="consumption" class="form-control" required />
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="form-group">
              <label for="seats">Available seats:</label>
              <input type="text" ng-model="car.seats" class="form-control" required />
            </div>
          </div><!-- /.col-sm-4 -->
        </div><!-- /.row -->
        <div class="form-group">
          <button type="submit" class="btn btn-success" ng-disabled="progressing" ng-show="car.carId"><span class="glyphicon glyphicon-ok"></span> Edit</button>
          <button type="submit" class="btn btn-success" ng-disabled="progressing" ng-hide="car.carId"><span class="glyphicon glyphicon-ok"></span> Create</button>
          <button type="button" class="btn btn-default" ng-click="clearNewCar()"><span class="glyphicon glyphicon-remove"></span> Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-show="cars.length" class="list-group">
  <div class="list-group-item list-group-item-animation" ng-repeat="car in cars">
    <div class="list-group-item-wrapper">
      <div class="btn-group btn-group-xs pull-right">
        <button type="button" class="btn btn-warning" ng-click="editCar(car)" ng-disabled="showCarForm||progressing"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button type="button" class="btn btn-danger" ng-click="deleteCar(car)" ng-disabled="progressing"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      </div>
      <div class="list-group-item-heading"><strong>{{car | carLabel}}</strong></div>
      <div class="list-group-item-text">Consumption: {{car.consumption}} &middot; Available seats: {{car.seats}}</div>
    </div>
  </div>
</div>
<p ng-hide="cars.length" class="text-center text-danger">No cars found!</p>
