<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-comment"></span> Chat with {{match.name}}</h3>
</div>
<div class="modal-body">
  <div class="chat-overflow">
    <p ng-repeat="message in messages"><span ng-bind-html="message.$message"></span></p>
  </div>
</div>
<div class="modal-footer">
  <form name="chatForm" ng-submit="sendMessage()" novalidate role="form">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-disabled="!message||progressing"><span class="glyphicon glyphicon-send"></span><span class="sr-only">Send</span></button>
      </div>
      <input type="text" ng-model="message" class="form-control" placeholder="Enter a message..."/>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Close</button>
      </div>
    </div>
  </form>
</div>
