<h1>Welcome, {{user.firstName}}!</h1>
<p class="lead">Welcome back, {{user.firstName}} {{user.lastName}}. Start by looking whether you have any new matches or messages. You can also create new listings.</p>
