<h1>First Steps</h1>
<p class="lead">This is the Fontys-internal SmartPooling application to help you to find rides to and from the Fontys.</p>
<p>Click next to start using the application!</p>
<button class="btn btn-primary pull-right" ng-click="nextClicked()">Next</button>
