<h1>My Listings</h1>
<button class="btn btn-primary pull-right" ng-click="newListing()" ng-disabled="showNewListing"><span class="glyphicon glyphicon-plus"></span> New</button>
<p class="lead">A comprehensive list of your currently active listings.</p><!-- /.lead -->
<div class="slide-animation" ng-show="showNewListing">
<div class="panel panel-default">
<div class="panel-heading">New listing</div>
<div class="panel-body">
  <form name="newListingForm" ng-submit="submitNewListing()" novalidate role="form">
    <div class="form-group">
      <label>Direction</label>
      <div class="input-group">
        <div class="input-group-btn">
            <label class="btn btn-primary" ng-model="direction" btn-radio="'ARRIVAL'"><span class="glyphicon glyphicon-send"></span><span class="sr-only">Arrival</span></label>
            <label class="btn btn-primary" ng-model="direction" btn-radio="'DEPARTURE'"><span class="glyphicon glyphicon-home"></span><span class="sr-only">Departure</span></label>
            <label class="btn btn-primary" ng-model="direction" btn-radio="'ROUNDTRIP'"><span class="glyphicon glyphicon-flag"></span><span class="sr-only">Roundtrip</span></label>
        </div>
        <div class="form-control">
          <span ng-switch="direction">
            <span ng-switch-when="ARRIVAL">Arrival at {{Constants.location}} at {{arrivalTime.l}}</span>
            <span ng-switch-when="DEPARTURE">Departure from {{Constants.location}} at {{departureTime.l}}</span>
            <span ng-switch-when="ROUNDTRIP">Arrival at {{Constants.location}} at {{arrivalTime.l}} and departure at {{departureTime.l}}</span>
          </span>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="location">
          <span ng-switch="direction">
            <span ng-switch-when="ARRIVAL">Location of departure:</span>
            <span ng-switch-when="DEPARTURE">Destination location:</span>
            <span ng-switch-when="ROUNDTRIP">Origin location:</span>
          </span>
        </label>
        <div class="input-group">
          <input type="text" ng-model="location" class="form-control" required />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="setHomeAddress()"><span class="glyphicon glyphicon-home"></span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="arrivalTime">Arrival time:</label>
        <select class="form-control" ng-model="arrivalTime" ng-disabled="direction==='DEPARTURE'" ng-options="time.l for time in Constants.arrivalTimes"></select>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="departureTime">Departure time:</label>
        <select class="form-control" ng-model="departureTime" ng-disabled="direction==='ARRIVAL'" ng-options="time.l for time in Constants.departureTimes"></select>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label><input type="checkbox" ng-model="driver"  ng-change="driverChanged()" /> I can drive with:</label>
        <select class="form-control" ng-model="car" ng-disabled="!driver" ng-options="(car | carLabel) for car in cars"></select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="date">Date:</label>
        <div class="input-group">
          <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" min-date="minDate" datepicker-options="Constants.datepickerOptions" ng-model="date" is-open="dateOpened" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" ng-disabled="progressing"><span class="glyphicon glyphicon-ok"></span> Create</button>
    <button type="button" class="btn btn-default" ng-click="clearNewListing()"><span class="glyphicon glyphicon-remove"></span> Clear</button>
  </div>
  </form>
  </div>
  </div>
</div>
<div ng-show="listings.length" class="list-group">
  <div class="list-group-item list-group-item-animation" ng-repeat="listing in listings" ng-init="listing.$showDetail=false">
    <div class="list-group-item-wrapper">
      <button type="button" class="close pull-right" ng-click="deleteListing(listing.listingId)" ng-disabled="progressing"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
      <div ng-class="{'listing-item-open': (listing.status===1), 'listing-item-closed': (listing.status!==1)}"><a ng-click="toggleListingDetail(listing)"><span class="glyphicon" ng-class="{true:'glyphicon-chevron-up',false:'glyphicon-chevron-down'}[listing.$showDetail]"></span></a> {{listing | listingSummary}} <span am-time-ago="listing.time"></span></div>
        <div class="listing-detail slide-animation" ng-show="listing.$showDetail">
          <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>{{listing.status | listingStatus}}</dd>
            <dt>Time</dt>
            <dd>{{listing.time | date:'HH:mm'}}</dd>
            <dt>Number of passengers</dt>
            <dd>{{listing.numberOfPassengers}}</dd>
            <dt>Created</dt>
            <dd><span am-time-ago="listing.created"></span></dd>
          </dl>
          <ul class="listing-match-list" ng-show="listing.status===1&&listing.$matches.length!==0">
            <li ng-repeat="match in listing.$matches">
              <div class="btn-group btn-group-xs pull-right">
                <button type="button" class="btn btn-success" ng-click="acceptMatch(match)" ng-disabled="progressing||match.status===2||match.status===4||match.status===5"><span class="glyphicon glyphicon-thumbs-up"></span> Accept</button>
                <button type="button" class="btn btn-danger" ng-click="declineMatch(match)" ng-disabled="progressing||match.status===5"><span class="glyphicon glyphicon-thumbs-down"></span> Decline</button>
              </div>
              <p class="match-info"><span class="match-compatibility" ng-style="{'background-color': (match.compatibility|matchColor)}"></span><strong>Status:</strong> {{match.status | matchStatus}} &middot; <strong>Compatibility:</strong> {{(match.compatibility*100)|number:0}} % &middot; <strong>Passengers:</strong> {{match.userIds.length}}</p>
            </li>
          </ul>
          <p class="text-danger text-center" ng-show="listing.status===1&&listing.$matches.length===0">No matches found!</p>
        </div>
    </div>
  </div>
</div>
<p ng-hide="listings.length" class="text-center text-danger">No listings found!</p>
