<div class="mylogin" id="login">
  <div class="wrapper">
    <div class="container">
      <h1>Sign In</h1>
      <form name="loginForm" ng-submit="submit()" novalidate role="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Username:</label>
              <div class="row">
                <div class="col-xs-4">
                  <input type="text" ng-model="pcn" ng-change="change()" class="form-control" required placeholder="PCN" />
                </div>
                <div class="col-xs-8">
                  <select ng-change="change()" class="form-control" ng-model="suffix" ng-options="suffix for suffix in ['@student.fontys.nl', '@fontys.nl', '@relatie.fontys.nl']"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" ng-model="password" ng-change="change()" class="form-control" required />
            </div>
          </div>
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <div class="row">
              <div class="col-xs-3">
                <div class="form-group">
                  <button type="submit" ng-disabled="loginForm.$invalid||failedLogin||progressing" class="btn btn-success">Sign In</button>
                </div>
              </div><!-- /.col-xs-3 -->
              <div class="col-xs-9">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="remember" /> Remember me</label>
                </div>
              </div><!-- /.col-xs-9 -->
            </div><!-- /.row -->
          </div>
        </div><!-- /.row -->
      </form>
    </div><!-- /.container -->
    <div class="footer">
      <div class="container">
        <footer>
          <p class="copyright">Copyright &copy; Fontys 2014. All rights reserved.</p>
        </footer>
      </div><!-- /.container -->
    </div>
    <span class="fontys-logo"></span>
  </div><!-- /.wrapper -->
</div><!-- /.mylogin -->
