<h1>My Matches</h1>
<p class="lead">This list contains a list of matches based on your listings.</p><!-- /.lead -->
<div ng-show="matches.length" class="list-group">
  <div class="list-group-item list-group-item-animation" ng-repeat="match in matches" ng-init="match.$showDetail=false">
    <div class="list-group-item-wrapper">
      <div class="btn-group btn-group-xs pull-right">
        <button type="button" class="btn btn-warning" ng-click="openChat(match)" ng-disabled="progressing"><span class="glyphicon glyphicon-thumbs-down"></span>Open chat</button>
        <button type="button" class="btn btn-danger" ng-click="declineMatch(match)" ng-disabled="progressing"><span class="glyphicon glyphicon-thumbs-down"></span> Decline Match</button>
      </div>
      <div><a ng-click="showDetail(match)"><span class="glyphicon" ng-class="{true:'glyphicon-chevron-up',false:'glyphicon-chevron-down'}[match.$showDetail]"></span></a> <span class="match-compatibility" ng-style="{'background-color': (match.compatibility|matchColor)}"></span><strong>{{match.$listing | listingSummary}} <span am-time-ago="match.$listing.time"></span></strong></div>
        <div class="listing-detail slide-animation" ng-show="match.$showDetail">
          <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{match.id}}</dd>
            <dt>Status</dt>
            <dd>{{match.status | matchStatus}}</dd>
            <dt>Compatibility</dt>
            <dd><span class="match-compatibility" ng-style="{'background-color': (match.compatibility|matchColor)}"></span>{{(match.compatibility*100)|number:0}} %</dd>
            <dt>Time</dt>
            <dd>{{match.$listing.time | date:'dd.MM.yyyy HH:mm'}}</dd>
            <dt>Number of passengers</dt>
            <dd>{{match.$listing.numberOfPassengers}}</dd>
            <dt>Created</dt>
            <dd><span am-time-ago="match.$listing.created"></span></dd>
          </dl>
        </div>
    </div>
  </div>
</div>
<p ng-hide="matches.length" class="text-center text-danger">No matches found!</p>
