<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span> {{heading}}</h3>
</div>
<div class="modal-body">
  <p class="lead">{{lead}}</p>
  <p ng-repeat="note in notes">{{note}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="confirm()"><span class="glyphicon glyphicon-ok"></span> Yes</button>
    <button class="btn btn-warning" ng-click="deny()"><span class="glyphicon glyphicon-remove"></span> No</button>
</div>
