<h1>My Profile</h1>
<p class="lead">Following form allows you to change your user profile.</p>
<div class="panel panel-default">
  <div class="panel-body">
    <form name="profileForm" ng-submit="submitProfile()" novalidate role="form">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="telephone">Phone number:</label>
            <input type="text" ng-model="user.phone" name="telephone" class="form-control" required regex-validate="^\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$$" placeholder="+00000000000" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="citizensip">Citizenship:</label>
            <input type="text" ng-model="user.citizenship" name="citizenship" class="form-control" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="birthDate">Birth date:</label>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" ng-model="user.birthDate" name="birthDate" is-open="birthDateOpened" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openBirthDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Are you a smoker?</label>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="user.smoking" ng-change="smokingChanged()" /> Yes, sir!</label>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="form-group">
        <button type="submit" ng-disabled="profileForm.$invalid||progressing" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Update</button>
      </div>
    </form>
  </div>
</div>
<h2>Home Address</h2>
<p class="lead">You can use your home address to quickly set the location while adding a listing.</p>
<div class="panel panel-default">
  <div class="panel-body">
    <form name="homeAddressForm" ng-submit="submitHomeAddress()" novalidate role="form">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="street">Street:</label>
            <input type="text" ng-model="homeAddress.street" name="street" class="form-control" required />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="postcode">Postcode:</label>
            <input type="text" ng-model="homeAddress.postcode" name="postcode" class="form-control" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" ng-model="homeAddress.city" name="city" class="form-control" required />
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" ng-model="homeAddress.country" name="country" class="form-control" required />
          </div>
        </div>
      </div><!-- /.row -->
      <div class="form-group">
        <button type="submit" ng-disabled="homeAddressForm.$invalid||progressing" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Update</button>
      </div>
    </form>
  </div>
</div>
