.alert-animation {
  &.ng-enter {
    .transition(0.25s ease-in-out all);
    .opacity(0);
    overflow-y: hidden;
    max-height: 0px;
  }

  &.ng-enter.ng-enter-active {
    .opacity(1);
    max-height: 256px;
  }

  &.ng-leave {
    .transition(2s ease-in-out all);
    .opacity(1);
    overflow-y: hidden;
    max-height: 256px;
  }

  &.ng-leave.ng-leave-active {
    .opacity(0);
    max-height: 0px;
  }
}

.view-animation {
  &.ng-enter {
    .transition(1s ease-in-out all);
    .opacity(0);
  }

  &.ng-enter.ng-enter-active {
    .opacity(1);
  }
}

.list-group-item-animation {
  &.ng-enter {
    &, & .list-group-item-wrapper {
      .transition(0.25s ease-in-out all);
    }
    .opacity(0);
    & .list-group-item-wrapper {
      max-height: 0px !important;
      overflow-y: hidden;
    }
  }

  &.ng-enter.ng-enter-active {
    .opacity(1);
    & .list-group-item-wrapper {
      max-height: 256px !important;
    }
  }

  &.ng-leave {
    &, & .list-group-item-wrapper {
      .transition(0.25s ease-in-out all);
    }
    .opacity(1);
    & .list-group-item-wrapper {
      max-height: 256px !important;
      overflow-y: hidden;
     }
  }

  &.ng-leave.ng-leave-active {
    .opacity(0);
    & .list-group-item-wrapper {
      max-height: 0px !important;
    }
  }
}

.slide-animation {

  &.ng-hide, &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
    overflow-y: hidden;
  }

  &.ng-hide-add, &.ng-hide-remove {
 .transition(1.0s ease-in-out all);
 }

  &.ng-hide, &.ng-hide-remove {
    max-height: 0px;
  }

 &.ng-hide-remove {
  opacity: 0;
 }

 &.ng-hide-remove-active, &.ng-hide-add {
  max-height: 999px;
  opacity: 1;
 }

 &.ng-hide-add-active {
  opacity: 0;
  max-height: 0px;
 }
}
