
.listing-detail {
  dl {
    margin-top: (@line-height-computed / 2.0);
    margin-bottom: (@line-height-computed / 2.0);
  }
  dl dt {
    text-align: left;
  }
}

.listing-item-open {
  font-weight: bold;
}

.listing-item-closed {
  color: @gray-lighter;
}

.listing-time {
  .btn {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

.listing-match-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding: 0;
    margin: 0;
    .clearfix();
  }
}

