.match-compatibility {
  display: inline-block;
  width: 10px; height: 10px;
  border-radius: 5px;
  margin-right: 8px;
  .box-shadow(1px 1px 1px @gray-dark);
}

.chat-overflow {
  overflow-y: scroll;
  height: 10em;
}
