.messages {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;

  padding-top: (@my-padding * 1.2);
  .container-fixed();

  .alert {
  .box-shadow(0 2px 6px rgba(0,0,0,.5));
  }

  @media (min-width: @screen-sm-min) {
    width: @container-sm*0.6;
    top: @navbar-height;
    right: 0;
    padding-top: (@my-padding * 2.4);
  }
}
