.myfaq {
  .mysection-light;

  .question {
    padding-bottom: (@my-padding * 1.4);

    .question-icon {
      .pull-left();
      margin-right: 0.25em;
      margin-bottom: -0.5em;
      font-size: floor((@font-size-base*3.2));
    }

    .question-title {
      font-size: floor((@font-size-base*1.2));
      font-weight: 400;
      margin-top: 0;
    }

    .question-answer {

    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  p {
    margin-bottom: (@my-padding / 2);
    font-size: (@font-size-base * 1.5);
  }

  @media screen and (min-width: @screen-sm-min) {
    .question {
      padding-bottom: (@my-padding * 1.8);

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
