.myfeatures {
  .mysection-light;

  .feature {
    .make-row();
    padding-bottom: (@my-padding * 1.4);

    .feature-image {
      .make-sm-column(2);
      text-align: center;

      span {
        width: 64px;
        height: 64px;
        line-height: 64px;
        font-size: 64px;
      }
    }

    .feature-description {
      .make-sm-column(10);

      .feature-title {
        font-size: floor((@font-size-base*1.2));
        font-weight: 400;
        text-align: center;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  p {
    margin-bottom: (@my-padding / 2);
    font-size: (@font-size-base * 1.5);
  }

  @media screen and (min-width: @screen-sm-min) {
    .feature {
      padding-bottom: (@my-padding * 1.8);

      .feature-image {
        padding-top: floor((@font-size-base*@line-height-base*1.2*1.5));
        text-align: left;

        span {
          width: 80px;
          height: 80px;
          line-height: 80px;
          font-size: 80px;
        }
      }

      .feature-description .feature-title {
        margin-top: 0;
        text-align: left;
      }
    }

    .technology-list .technology-item img {
      width: 90px;
      height: 90px;
    }
  }
}
