.myfooter {
  .container {
    .container-fixed();
  }

  footer {
    text-align: right;
    margin-bottom: 0.2em;
    color: @gray-lighter;
    font-size: 0.5em;

    .copyright {
      font-size: @font-size-base*0.7;
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    .container {
      width: @container-sm;
    }
  }
}
