.myintro {
  .full-viewport();
  #gradient > .vertical(darken(#673167, 15%), #673167, 0%, 90%);

  .wrapper {
    position: relative;
  }

  .intro {
    padding-top: 60px;
    padding-bottom: 60px;

    .intro-lead, .intro-caption {
      text-transform: uppercase;
      text-align: center;
    }

    .intro-lead {
      margin: 0;
      margin-top: @my-intro-caption-font-size;
      color: lighten(#96a0aa, 40%);
      font-size: @my-intro-lead-font-size;
      line-height: @my-intro-lead-line-height;
      font-family: @my-intro-lead-font-family;
      font-weight: @my-intro-lead-font-weight;
      text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8);
      line-height: @my-intro-lead-line-height;

      strong {
        font-weight: @my-intro-lead-bold-font-weight;
      }
    }

    .intro-caption {
      margin: 0;
      color: lighten(#96a0aa, 30%);
      font-weight: @my-intro-caption-font-weight;
      text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
      font-family: @my-intro-caption-font-family;
      font-size: @my-intro-caption-font-size;
      line-height: @my-intro-caption-font-size;
      height: @my-intro-caption-font-size;
      letter-spacing: @my-intro-caption-letter-spacing;
    }
  }

  .intro-button {
    text-align: center;
    margin-top: 2.5em;
  }

  .intro-scroll {
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    height: 26px;
    background: url('../img/arrow-down-1x.png') no-repeat center top;
    background-size: 26px 16px;
  }

  .fontys-logo {
    position: absolute;
    left: 25px;
    bottom: 12px;
    display: block;
    width: 80px;
    height: 50px;
    background: url('../img/fontys-logo.png') no-repeat center center;
    background-size: 80px 50px;
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .intro-scroll {
      background-image: url('../img/arrow-down-2x.png');
    }
  }

  .intro-size(@f) {
    .intro {
      .intro-lead {
        margin-top: (@my-intro-caption-font-size * @f * 2.0);
        font-size: (@my-intro-lead-font-size * @f * 2.0);
        line-height: (@my-intro-lead-line-height * @f * 2.0);
      }
      .intro-caption {
        font-size: (@my-intro-caption-font-size * @f * 2.0);
        line-height: (@my-intro-caption-font-size * @f * 2.0);
        height: (@my-intro-caption-font-size * @f * 2.0);
      }
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    .intro-size(1.0);
    .intro-button .btn {
      .btn-lg();
    }
  }
  @media screen and (min-width: @screen-md-min) {
    @f: (@screen-md-min / @screen-sm-min);
    .intro-size(@f);
    .intro {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    .intro-scroll {
      bottom: 50px;
    }

    .fontys-logo {
      left: 50px;
      bottom: 25px;
      width: 120px;
      height: 75px;
      background-size: 120px 75px;
    }
  }
  @media screen and (min-width: @screen-lg-min) {
    @f: (@screen-lg-min / @screen-sm-min);
    .intro-size(@f);
  }
}
