.mylogin {
  .full-viewport();
  #gradient > .vertical(darken(#673167, 15%), #673167, 0%, 90%);

  .wrapper {
    position: relative;
  }

  .container {
    .container-fixed();
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }
  }

  h1 {
    text-align: center;
    margin-top: 0;
    color: lighten(#96a0aa, 40%);
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8);
  }

  label {
    color: lighten(#96a0aa, 30%);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  }

  .fontys-logo {
    position: absolute;
    left: 25px;
    bottom: 12px;
    display: block;
    width: 0.7*112px;
    height: 0.7*67px;
    background: url('../img/fontys-logo.png') no-repeat center center;
    background-size: (0.7*112px) (0.7*67px);
  }

  .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;

    .container {
      text-align: right;
      padding-top: 0px;
      padding-bottom: 0px;

      footer {
        margin-bottom: 0.2em;
        color: lighten(#96a0aa, 30%);
        font-size: 0.5em;

        .copyright {
          font-size: @font-size-base*0.7;
        }
      }
    }
  }

  @media screen and (min-width: @screen-md-min) {
    .fontys-logo {
      left: 50px;
      bottom: 25px;
      width: 112px;
      height: 67px;
      background-size: 112px 67px;
    }
  }
}
