.mysection() {
  // hide overflowing elements
  overflow-x: hidden;

  h1, .h1, h2, .h2, h3, .h3,
  h4, .h4, h5, .h5, h6, .h6 {
    small {
      font-weight: inherit;
    }
  }

  .section-title {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .container {
    padding-top: (@my-padding * 1.2);
    padding-bottom: (@my-padding * 1.4);
    .container-fixed();

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
      padding-top: (@my-padding * 2.4);
      padding-bottom: (@my-padding * 1.8);
    }
  }
}

.mysection-light() {
  .mysection;
  background-color: @my-light-bg;
  color: @my-light-text-color;

  h1, .h1, h2, .h2, h3, .h3,
  h4, .h4, h5, .h5, h6, .h6 {
    color: @my-light-heading-color;
    small {
      color: lighten(@my-light-heading-color, 20%);
    }
    &.section-title {
      color: @my-light-title-color;
      small {
        color: lighten(@my-light-title-color, 20%);
      }
    }
  }
}

.mysection-dark() {
  .mysection;
  background-color: @my-dark-bg;
  color: @my-dark-text-color;

  h1, .h1, h2, .h2, h3, .h3,
  h4, .h4, h5, .h5, h6, .h6 {
    color: @my-dark-heading-color;
    small {
      color: lighten(@my-dark-heading-color, 20%);
    }
    &.section-title {
      color: @my-dark-title-color;
      small {
        color: lighten(@my-dark-title-color, 20%);
      }
    }
  }
}

.full-viewport() {
  display: table;
  width: 100%;
  overflow: hidden;

  .wrapper {
    display: table-cell;
    vertical-align: middle;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
