.mynavbar {
  background: @my-navbar-bg;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  font-family: @my-navbar-font-family;
  font-size: @my-navbar-font-size;
  font-weight: @my-navbar-font-weight;

  .container {
    .container-fixed();

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }
  }

  .navbar-brand {
    color: lighten(@gray-lighter, 20%);
    font-size: @my-navbar-brand-font-size;
    text-transform: uppercase;
    line-height: @my-navbar-line-height;
  font-family: @my-navbar-brand-font-family;

    &:hover,
    &:focus {
      color: lighten(@gray-lighter, 30%);
    }

    strong {
      font-weight: @my-navbar-bold-font-weight;
    }
  }

  .navbar-text {
    text-transform: uppercase;
    color: @gray-lighter;
    line-height: @my-navbar-line-height;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: @gray-lighter;
    }

    &:hover,
    &:focus {
      .icon-bar {
        background-color: lighten(@gray-lighter, 20%);
      }
    }
  }

  .navbar-nav {
    font-weight: @my-navbar-bold-font-weight;

    > li > a {
      text-transform: uppercase;
      color: @gray-lighter;
      line-height: @my-navbar-line-height;

      &:hover,
      &:focus {
        background: none;
        color: lighten(@gray-lighter, 20%);
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        background: none;
        color: lighten(@gray-lighter, 40%);
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: darken(@gray-lighter, 40%);
      }
    }
  }

  .intro-page & {
    .transition(background-color 0.5s);
  }

  .intro-page.scrolled-top & {
    background: rgba(0, 0, 0, 0.0);
  }
}
