.btn-intro {
  font-family: @my-button-font-family;
  color: @my-brand-color;
  background-color: lighten(#96a0aa, 40%);
  border: none;
  .transition(all 0.25s);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: lighten(#96a0aa, 40%);
    background-color: @my-brand-color;
    border: none;
  }
}

.btn-brand {
  font-family: @my-button-font-family;
  color: lighten(@gray-lighter, 55%);
  background-color: @my-brand-color;
  border: none;
  .transition(background-color 0.5s);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: lighten(@gray-lighter, 55%);
    background-color: darken(@body-bg, 2%);
    border: none;
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
    .box-shadow(none);
  }
}

.section-divider {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 3px solid @my-brand-color;

  &.decorated {
    &:before, &:after {
      content: " ";
      position: absolute;
      display: block;
      left: 50%;
      top: 0;
      width: 0;
      height: 0;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      margin-left: -18px;
    }

    &:before {
      border-bottom: 8px solid @my-brand-color;
      margin-top: -9px;
    }

    &:after {
      border-top: 8px solid @my-brand-color;
      margin-top: -2px;
    }
  }
}
