@my-brand-color:                      #673167;
@my-success-color:         #5cb85c;
@my-info-color:            #5bc0de;
@my-warning-color:              #f0ad4e;
@my-danger-color:               #d9534f;
@my-padding:                    20px;

// base backgrounds
@my-dark-bg:    #212428;
@my-light-bg:   #f7f7f7;

@my-base-font-family: "Open Sans", Arial, Helvetica, sans-serif;
@my-base-font-size: 14px;

// base colors
@my-dark-text-color:     #96a0aa;
@my-dark-title-color:    #ced3d8;
@my-dark-heading-color:  #ced3d8;
@my-dark-link-color:     lighten(@my-dark-text-color, 15%);
@my-light-text-color:     #96a0aa;
@my-light-title-color:    #626d78;
@my-light-heading-color:  @my-brand-color;
@my-light-link-color:     @my-brand-color;

// navbar
@my-navbar-bg: darken(#673167, 10%);
@my-navbar-font-family: "Open Sans Condensed", sans-serif;
@my-navbar-font-size: @my-base-font-size;
@my-navbar-font-weight: 300;
@my-navbar-bold-font-weight: 700;
@my-navbar-brand-font-family: "Open Sans", sans-serif;
@my-navbar-brand-font-size: (@my-base-font-size * 2.0);
@my-navbar-line-height: @my-navbar-brand-font-size;

// buttons
@my-button-font-family: "Open Sans Condensed", @my-base-font-family;
@my-button-font-weight: 300;

// intro
@my-intro-lead-font-family: "Open Sans", sans-serif;
@my-intro-lead-font-size: (@my-base-font-size * 2.5);
@my-intro-lead-line-height: (@my-base-font-size * 3.0);
@my-intro-lead-font-weight: 300;
@my-intro-lead-bold-font-weight: 700;
@my-intro-caption-font-family: "Titillium Web", sans-serif;
@my-intro-caption-font-size: (@my-base-font-size * 1.3);
@my-intro-caption-font-weight: 200;
@my-intro-caption-letter-spacing: 0.2em;

@gray-darker:            #212428;
@gray-dark:              #2e3338;
@gray:                   #4d5259;
@gray-light:             #929ba5;
@gray-lighter:           #96a0aa;

