<div class="myfooter">
  <div class="container">
    <footer>
      <p class="copyright">Copyright &copy; Fontys 2014. All rights reserved.</p>
    </footer>
  </div><!-- /.container -->
</div><!-- /.myfooter -->
