<!DOCTYPE html>
<html lang="en" ng-app="spApp">
  <head>
    <!-- @include ../include/meta.html -->
    <title>Smartpooling</title>
  </head>
  <body class="scrolled-top" ng-class="{'intro-page': introPage}">
    <div class="navbar mynavbar navbar-fixed-top" role="navigation" ng-controller="spNavbarController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" ng-hide="bare">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="SmartPooling">S<span ng-show="bare">mart</span>&#8203;<strong>P<span ng-show="bare">ooling</span></strong></a>
        </div><!-- /.navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left" ng-hide="bare">
            <li ng-repeat="item in menu" ui-sref-active="active"><a ui-sref="{{item.name}}" ng-click="menuClick()">{{item.title}}</a></li>
          </ul><!-- /.nav navbar-nav -->
          <ul class="nav navbar-nav navbar-right" ng-controller="spUserActionController" ng-show="loggedIn">
            <li><a ng-click="logOut()" title="Sign out {{displayName}}"><span class="glyphicon glyphicon-log-out"></span> Sign out {{displayName}}</a></li>
          </ul><!-- /.nav navbar-nav navbar-right -->
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    <div class="messages" ng-controller="spAlertController">
      <div class="alert-animation" ng-repeat="alert in alerts">
        <alert type="{{alert.type}}" ng-click="close(alert)" close="close(alert)">{{alert.msg}}</alert>
      </div>
    </div>
    <div ui-view></div>
    <!-- @include ../include/scripts.html -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/assets/js/modules.min.js"></script>
    <script src="/assets/js/partials.min.js"></script>
  </body>
</html>

